.content{
   border: none; 
   padding:0.01em 16px; 
   width: auto; 
   height: 300px;
   background-color: white;
   border-radius: 5px;
}

.edit{
   height: 50px;
   width: 290px;
   border-radius: 1px;
   background-color: #1a9cb7;
   border: none;
   color: white;
}

.edit:hover{
   cursor: pointer; 
   background-color: #1493ad;
}

p{
   font-size: 20px;
}

body{
   background-color: #eff0f4;
}